<ion-content>

    <ion-item color="dark">
        <ion-label>Rest Duration</ion-label>
        <ion-datetime #myPicker
                      display-format="mm:ss"
                      placeholder="Pick it"
                      [(ngModel)]="fullTime"
                      (ionChange)="updateMyDate(myPicker.value)"></ion-datetime>
    </ion-item>

    <div class="total-time-container">
        <h4>Total time</h4>
        <p>{{elapsed.h}}:{{elapsed.m}}:{{elapsed.s}}</p>
    </div>

    <div class="circle-container">
        <circle-progress (click)="startTimer()"
                         [percent]="percent"
                         [maxPercent]="100"
                         [radius]="radius"
                         [showTitle]="false"
                         [showSubtitle]="true"
                         [subtitle]="remainingTime"
                         [subtitleFontSize]="40"
                         [outerStrokeWidth]="16"
                         [outerStrokeColor]="'#03A9F4'"
                         [showZeroOuterStroke]="false"
                         [backgroundStroke]="'#03A9F4'"
                         [backgroundStrokeWidth]="3"
                         [outerStrokeGradient]="true"
                         [outerStrokeGradientStopColor]="'#303F9F'"
                         [showInnerStroke]="false"
                         [showUnits]="false"
        ></circle-progress>
    </div>


    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ng-container *ngIf="timer == false; else running">
            <ion-fab-button (click)="startTimer()">
                <ion-icon name="play"></ion-icon>
            </ion-fab-button>
        </ng-container>
        <ng-template #running>
            <ion-fab-button (click)="stopTimer()">
                <ion-icon name="square"></ion-icon>
            </ion-fab-button>
        </ng-template>
    </ion-fab>

</ion-content>
